<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  <header>
    <h1>g33tar's Movie Ratings</h1>
    <a href="/"><button class="homenav">Home</button></a>
    <h3>TaDa!! My Great Wisdom!</h3>
  </header>
  <section class="columns">
      <a href="/movies/new"><button class="addNew">Add a new movie</button></a>
      <h1 class='subHeading'>All Movies</h1>
  </section>
  <section>
  <table class='indexPg'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Year</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      {{#movies}}
      <tr class='rows'>
        <td><b><a href="/movies/{{_id}}">{{title}}</a></b></td>
        <td>{{director}}</td>
        <td>{{year}}</td>
        <td>{{rating}}</td>
        <td>
          <form action="/movies/{{_id}}/delete" method ="POST">
            <input class='indBut' type="submit" value = 'Delete Movie' >
          </form>
        </td>
        <td>
          <form action="/movies/{{_id}}/edit" method = 'GET'>
            <input class='indBut'type="submit" class='year' value='Edit'>
          </form>
        </td>
      </tr>
      {{/movies}}
    </tbody>
  </table>
  </section>
</body>
</html>
